// COLOR PALETTE
// Naming convention
//    color variables follow the pattern:
//    color|<Warm|Neutral|Cool>|<Light|Dark>|<er|est>
//
//    neutral: 0% saturation
//    cool: 75degrees -> 240degrees
//    Warm: 255degrees -> 60degrees
//
//    Light: > 50% saturation
//    Dark: <50% saturation
// Use these colors throughout the project only if they are Brand independant
// Otherwise use Brand Defined colors
// NOTE: Use online tool : https://convertacolor.com/ for calculations
// Used as a color scheme for Sweden

// Neutral
$colorNeutralLightest: #fff;												/* hsl(0, 0%, 100%) */
$colorNeutralLight: #fdfdfd;                      	/* hsl(30, 20%, 96.1%) */
$colorNeutral: #f7f5f3;														/* hsl(30, 20%, 96.1%) */
$colorNeutralDark: #d9d9d9;												/* hsl(36,5.2%,81%) */
$colorNeutralDarker: #373737;											/* hsl(0, 0%, 43.1%) */
$colorNeutralDarkest: #000;												/* hsl(0, 0%, 0%) */

// Primary color
$colorPrimaryLighter: #b0e2e3;      /* hsl(185, 43%, 78%) */
$colorPrimaryLight: #8ec4c7;        /* hsl(185, 40%, 66%) */
$colorPrimary: #6da5aa;             /* hsl(185, 34%, 54%) */
$colorPrimaryDark: #4b868c;         /* hsl(185, 31%, 42%) */
$colorPrimaryDarker: #306b71;       /* hsl(185, 39%, 29%) */

// Accent color
$colorErrorLight: #ffbdbd;													/* hsl(0,81%,91.8%) */
$colorError: #e11d16;															/* hsl(2.1,82.2%,48.4%) */
$colorWarningLight: #ffeb9b;
$colorWarning: #ed7109;														/* hsl(27.4,92.7%,48.2%) */
$colorSuccess: #69cf61; 													  /* hsl(115.6,53.4%,59.6%) */

// Charts color
$colorSentimentPositive: #55C57A;									/* hsl(144, 47%, 55%) */
$colorSentimentNeutral: #b4b4b4;										/* hsl(0, 0%, 71%) */
$colorSentimentNegative: #F68D8D;									/* hsl(0, 74%, 69%) */

$colorObjective: #55C57A;													/* hsl(144, 47%, 55%) */
$colorSubjective: #F68D8D;													/* hsl(0, 74%, 69%) */

$colorEmotionLove: #e6513d;
$colorEmotionDesire: #e44a7c;
$colorEmotionAdmiration: #ae375d;
$colorEmotionAnger: #406426;
$colorEmotionRealization: #d7b472;
$colorEmotionDisgust: #d59bdb;
$colorEmotionEmbarrassment: #5e2164;
$colorEmotionFear: #8e69fb;
$colorEmotionExcitement: #fe6b01;
$colorEmotionAmusement: #ff8c25;
$colorEmotionDisapproval: #6fd7f0;
$colorEmotionGrief: #18345b;
$colorEmotionSadness: #18345b;
$colorEmotionConfusion: #266eb6;
$colorEmotionCuriosity: #fea78d;
$colorEmotionNervousness: #fa90aa;
$colorEmotionRemorse: #d77c92;
$colorEmotionNeutral: #c2c9d0;
$colorEmotionGratitude: #4c5644;
$colorEmotionTrust: #9aba91;
$colorEmotionApproval: #728960;
$colorEmotionPride: #406426;
$colorEmotionOptimism: #ffdc28;
$colorEmotionRelief: #fef84c;
$colorEmotionJoy: #fdc017;
$colorEmotionSurprise: #cc8f02;
$colorEmotionAnnoyance: #8e69fb;
$colorEmotionCaring: #a89132;

/* =====
			#Color #Link #Border
			Variables follow convention found here: https://gist.github.com/paceaux/8638765e747f5bd6387b721cde99e066#sassscssstylus-naming
			Do not use or change collors in this section unless you know what you're doing.
	===== */
$baseTextColor: $colorNeutralDarkest;
$baseEditorialTextColor: $colorNeutralDarker;
$baseLinkColor: $colorPrimary;
$baseLinkColorHover: $colorPrimary;
$baseInlineBorderColor: $colorPrimary;

:export {
	colorSentimentPositive: $colorSentimentPositive;
	colorSentimentNeutral: $colorSentimentNeutral;
	colorSentimentNegative: $colorSentimentNegative;
	colorObjective: $colorObjective;
	colorSubjective: $colorSubjective;
	colorEmotionAnger: $colorEmotionAnger;
	colorEmotionTrust: $colorEmotionTrust;
	colorEmotionSurprise: $colorEmotionSurprise;
	colorEmotionSadness: $colorEmotionSadness;
	colorEmotionJoy: $colorEmotionJoy;
	colorEmotionFear: $colorEmotionFear;
	colorEmotionApproval: $colorEmotionApproval;
	colorEmotionCuriosity: $colorEmotionCuriosity;
	colorEmotionGratitude: $colorEmotionGratitude;
	colorEmotionAmusement: $colorEmotionAmusement;
	colorEmotionLove: $colorEmotionLove;
	colorEmotionAdmiration: $colorEmotionAdmiration;
	colorEmotionConfusion: $colorEmotionConfusion;
	colorEmotionDisapproval: $colorEmotionDisapproval;
	colorEmotionEmbarrassment: $colorEmotionEmbarrassment;
	colorEmotionExcitement: $colorEmotionExcitement;
	colorEmotionDesire: $colorEmotionDesire;
	colorEmotionDisgust: $colorEmotionDisgust;
	colorEmotionNervousness: $colorEmotionNervousness;
	colorEmotionNeutral: $colorEmotionNeutral;
	colorEmotionOptimism: $colorEmotionOptimism;
	colorEmotionPride: $colorEmotionPride;
	colorEmotionRealization: $colorEmotionRealization;
	colorEmotionRelief: $colorEmotionRelief;
	colorEmotionRemorse: $colorEmotionRemorse;
	colorEmotionGrief: $colorEmotionGrief;
	colorEmotionAnnoyance: $colorEmotionAnnoyance;
	colorEmotionCaring: $colorEmotionCaring;
}
